helloworld/dist/
helloworld/www/
helloworld/loader/

helloworld/*~
helloworld/*.sw[mnpcod]
helloworld/*.log
helloworld/*.lock
helloworld/*.tmp
helloworld/*.tmp.*
helloworld/log.txt
helloworld/*.sublime-project
helloworld/*.sublime-workspace

helloworld/.stencil/
helloworld/.idea/
helloworld/.vscode/
.sass-cache/
helloworld/.versions/
helloworld/node_modules/
helloworld/$RECYCLE.BIN/

helloworld/.DS_Store
helloworld/Thumbs.db
helloworld/UserInterfaceState.xcuserstate
helloworld/.env
