StencilJSExample/dist/
StencilJSExample/www/
StencilJSExample/loader/

StencilJSExample/*~
StencilJSExample/*.sw[mnpcod]
StencilJSExample/*.log
StencilJSExample/*.lock
StencilJSExample/*.tmp
StencilJSExample/*.tmp.*
StencilJSExample/log.txt
StencilJSExample/*.sublime-project
StencilJSExample/*.sublime-workspace

StencilJSExample/.stencil/
StencilJSExample/.idea/
StencilJSExample/.vscode/
.sass-cache/
StencilJSExample/.versions/
StencilJSExample/node_modules/
StencilJSExample/$RECYCLE.BIN/

StencilJSExample/.DS_Store
StencilJSExample/Thumbs.db
StencilJSExample/UserInterfaceState.xcuserstate
StencilJSExample/.env
